
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&family=Dosis&family=Poppins:wght@300&display=swap');

/* Box sizing rules */
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
/*global styles */

body {
  background-image:url("css/assets/images/woman_stressed_hero_image.jpeg");
};


.hero {
  display: flex;
  flex-direction: column;
  background-image:url("/workspace/Skillshare/css/assets/images/woman_stressed_hero_image1.jpeg");
}

.hero-text {
  font-size: 1.2rem;
  text-align:center;
  color:white;
}

/* Header styling */

  header a:link {
  background-color: #fcd5ce;
  text-decoration:none;
  }

.skill-swap {
  display:flex;
  text-align: center;
  background-color:rgb(255, 255, 255);
}
  .header-nav {
    height:60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family:'cabin';
    font-size:2rem;
    background-color:#ffb5a7;
}
ul a:link{}
.nav-bar {
   background-color:#f8edeb;
    letter-spacing: 0.2;
    padding-top: 0.5rem;
    padding-bottom: 0.7rem;
    font-family: 'poppins';
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
}

.nav-bar {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    margin: 0;
}

.menu {
    flex: 1 0 10%;
    text-align: center;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    font-weight: 500;

}
.header-nav a,
.skill-swap a,
.nav-bar a {

    display: block;
    text-decoration: none;
    letter-spacing: 0.1;
    padding: 0;
    margin: 0;
}



.nav-bar a:hover{
color: black;
}
/* visited link *
a:visited {
  color: rgb(26, 0, 128);
} */

/* mouse over link */
nav-bar a:hover {
  color: #ffb5a7;
}

/* selected link */
a:active {
  backgroundb(0, 0, 0);
} 


.cta-wrapper {
    display:flex;
    flex-wrap:wrap;
    text-align:center;
}

.cta-learnmore {
    text-align: center;
    align-items:center;
    border-radius:5px;
    border-color: rgb(75, 139, 10);
    background-color:rgb(75, 139, 10);
    padding: 5px;
    font-size:1rem;
    top:50%;
    left:50%;
    margin-top: 100px;
}


.container
{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  
}
.flex-split {
display:flex;
flex-wrap: wrap;
justify-content:center;
margin:20px;
}

.card {
    background:bisque;
    width:270px;
    margin-left:15px;
    margin-right: 15px;
    margin-bottom:15px;
    border-radius: 15px;
    text-align: center;
  
  }
  
  .card-image {
    background-color:darksalmon;
    height: 200px;
    margin-bottom:15px;
    border-radius: 15px 15px 0 0;
    background-size: contain;
    background-repeat:no-repeat;
    background-position: center;
  
  }
  .card-bg1 {
    background-image: url('./images/mentor.png');
  }
  
  .card-bg2{
    background-image: url('./images/home/friends.png');
  }
  
  .card-bg3 {
    background-image: url('./images/home/events.png')
  }
  
  .card p {
    padding:5px;
  }
  
  .card h3 { 
    padding:5px;
  }

  .
  .container
  {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  .hero-card {
    background:rgb(53, 32, 6);
    width:270px;
    margin-left:15px;
    margin-right: 15px;
    margin-bottom:15px;
    border-radius: 15px;
    text-align: center;
  
  }
  
  .hero-card-image {
    background-color:darksalmon;
    height: 200px;
    margin-bottom:15px;
    border-radius: 15px 15px 0 0;
    background-size: contain;
    background-repeat:no-repeat;
    background-position: center;
  
  }
  .hero-card-bg {
    background-image: url("./images/business-concept-with-team-close-up1.jpg");}

  .hero-card p {
      padding:2rem;
    }
    
    .hero-card h2 { 
      padding:5px;
    }
/*
  .testimonials{
    display:flex;
    text-align: center;
  }

  .testimonials, h2 {
    font-size: 1.7rem;
  
  }
  testimonials,h3 {
    font-size: 1.8rem;
  }

  
.carousel {
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}

.slides {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.slides-item {
  align-items: center;
  border-radius: 10px;
  display: flex;
  flex-shrink: 0;
  font-size: 100px;
  height: 400px;
  justify-content: center;
  margin: 0 1rem;
  position: relative;
  transform: scale(1);
  transform-origin: center center;
  transition: transform 0.5s;
  width: 100%;
  scroll-snap-align: start;
  font-size: 30px;
}

.carousel__nav {
  padding: 1.25rem 0.5rem;
}

.slider-nav {
  align-items: center;
  background-color: #ddd;
  border-radius: 50%;
  color: #000;
  display: inline-flex;
  height: 1.5rem;
  justify-content: center;
  padding: 0.5rem;
  position: relative;
  text-decoration: none;
  width: 1.5rem;
}

.slider-nav:hover,
.slider-nav:active {
  background-color: #000;
  color: #fff;
}

.slide-1 {
  background-color: #fdc;
}

.slide-2 {
  background-color: #bfd;
}

.slide-3 {
  background-color: #cdf;
}

.slide-4 {
  background-color: #dca;
}

.slide-5 {
  background-color: #ffc;
}

/*Hides scrollbar in firefox*
.slides {
  scrollbar-width: none;
}

.slides::-webkit-scrollbar {
  display: none;
}
  footer {
    position:absolute;
    width:100vw;
    height:auto;
    background-color: rgb(246, 173, 203);
   color:#121212;
  }
.footer-container {
  display: flex;
  align-items:center;
  flex-direction:column;
  text-align:center;
}

.footer-container .footer-title {
  font-size:1rem;
}

  .footer-title {
    font-family:'cabin','serif';
    font-weight:300px;
    letter-spacing: 0.10rem;
    margin-left:10px;
  }
 
.social-media {
  list-style-type:none;
  display:flex;
  align-items:center;
  justify-content:center;
  margin: 1rem 0 2rem 0;
}
/*
  .social-media 
  .facebook{
    margin-left:15px;
    margin-right: 15px;
    margin-bottom:15px;
    border-radius: 15px;
    text-align: center;
    height:50px;
  
  }
  
  .twitter {
    margin-left:15px;
    margin-right: 15px;
    margin-bottom:15px;
    border-radius: 15px;
    text-align: center;
  
  }
  
  .instagram {
    margin-left:15px;
    margin-right: 15px;
    margin-bottom:15px;
    border-radius: 15px;
    text-align: center;
  
  }
  
  .message {
    margin-left:15px;
    margin-right: 15px;
    margin-bottom:15px;
    border-radius: 15px;
    text-align: center;
  
  }
  
  footer-container {
    max-width:500px;
  
  }
  
  /*flex box for main section on home*
  .container-about {
    width:100%;
    height:auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap:wrap;
  align-items: center;
  line-height:1rem;
  overflow:hidden;
  }
  /*universal selector following flex to allow for additional content if scaling up
      .flex-split {
        text-align:center;
        font-family: 'dosis';
        margin-top: 0.6rem;
        margin-left: 0.3rem;
        margin-bottom: 0.6rem;
        font-weight: 500;
        font-family: 1rem;
  
      }
  
      *
      .social-media {
        justify-content: center;
      }
  
  