
/*Google Fonts external import link*/
@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@600&family=Montserrat:wght@900&family=Raleway:wght@400;900&display=swap');;

/*Resetting browser page defaults*/
*,
*::before,
*::after {
  margin:0;
  padding:0; 
  box-sizing: border-box;
}
html,body {
  margin:0;
  padding:0;
}



/*global styles */

.hero-text {
  font-size: 1rem;
  text-align:center;
  color:white;
}

/* Header styling */

  .flex {
    
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family:'biryani';
    font-size:1rem;
    background-color:#f3dfc1;
}
.skill-share {
  display:flex;
  justify-content: center;
  font-family:'Raleway',sans-serif;
  font-size:2rem;
  margin:0;
}

.skill-share, a {
  text-decoration:none;
  color:#160f29;
}
/*
.skill-share a:link {
  color:#246a73;
}

.skill-share a:visited {
   color:#246a73 ;
}

a:focus {
}

.skill-share a:hover {
  color:#246a73;
}

a:active {
  color:#246a73;
}
*//* e
/*Nav bar*/ 


.flex-column {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1rem;
    overflow:hidden;
    margin:0 25px 0 25px;
    padding: 0 15px 0px 15px;
}
ul.flex-column {
  padding: 0;
  gap:1rem;
}
.column.menu {
    flex: auto;
    text-align: center;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;

}
.flex a,
.skill-swap a,
.flex-column a {

    display: block;
    text-decoration: none;
    letter-spacing: 0.1;
    padding: 0;
    margin: 0;
}



.flex-column a:hover{
color: black;
}
/* mouse over link */
.flex-column a:hover {
  color: #72706f;
}

/* selected link *
a:active {
  backgroundb(0, 0, 0);
}  *
*/

.container
{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  
}
#hero.container {
  height:500px;
  background-size:contain;
}
  .center-hero {
  display:flex;
  background-image:url('assets/images/woman_stressed_hero_image2.jpeg');
  max-width: 100%;
  background-size: cover;
  background-repeat:no-repeat;

}

.center p {
    padding:2rem;
  }
  
  .hero h2 { 
    padding:5px;
    color:#160f29;
  }
#home-center {
  display:block;
  max-width:80vw;
}

.center {
  text-align:center;
}
.container-text {
  margin-inline:auto;
  width:min(80%, 70rem);
}
.split{
  display:flex;
  flex-direction:column;
}

@media (min-width: 40rem) {
  .split {
    flex-direction:row;}    
  }
  .split img {
    max-width:100%;
  }
  .split > p {
    flex-basis: 100%;
}
.split > p  {
  margin-left: 2rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;


}


  #hero {
    background-image:url("/assets/images/woman_stressed_hero_image1.jpeg");
    max-width:100%;
    background-size: contain;
    background-repeat:no-repeat;
    background-position: center;
  
  }

  .hero p {
      padding:2rem;
    }
    
    .hero h2 { 
      padding:5px;
    }

.flex-row-container {
  display:flex;
  flex-wrap:wrap;
  width:100%;
}
  
.flex-row {
  flex: 25%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;


}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 250px;
  border-radius:  15px 15px 0 0;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: center;


}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: translateY(-5px) scale(1.005) translateZ(0);


}

.card-image {
  border-radius: 15px 13px 0 0;
  background-color:#368f8b;
  opacity:50%;
  height: 200px;
  margin-bottom: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}

.card-bg1 {
  background-image: url("assets/images/mentor.png/");
}

.card-bg2 {
  background-image: url('./images/friends.png');
}

.card-bg3 {
  background-image: url('./images/events.png');
}

.card p {
  padding: 15px;
  font-color:#160f29;
}

.card h3 {
  padding: 5px;
}


/*footer*/

footer,ul {
  list-style: none;
}
ul.footer-social-list {
  list-style-type: none;
}
.social {
  padding: 0 1.8rem 1.25rem;
}

.social-icons {
  display:flex;
  justify-content:center;
  padding-top:1.25rem;
}
.social-icons li {
  margin: 1 rem;
}

.footer-bottom {
  padding: 0.9rem;
  background-color:rgb(22, 16, 7);
}

/* Contact form */
.form-container {
  display:flex;
  flex-wrap:wrap;
  max-width:80vw;
  text-align:center;
  justify-content: center;
  background-size:contain;
  overflow:none;
}

input#name,input#surname,input#email,input#phone,
input#message {
  margin-bottom:15px;
  width:50%;

}

section, form
textarea {
  resize: none;
}